
This document describes how to release this Forge plugin.

%{toc}

* Release this JBoss forge plugin.

To deploy this so that it can be used in your forge-console, do the following:

- Start a forge console

- change to the directory of this project (root)

- run the command 'forge source-plugin .' in the forge shell, this will install it on your computer so you can use it later on
