
This document describes how this Forge plugin is used.

%{toc}

* Usage

The easiest way to test this Forge plugin is to run the following commands in a forge shell:

1. new-project --named test --type pom

2. nazgulprj setup

These 2 commands will create a maven project based on the nazgul strategy.

An example forge script can be found in the project root here named 'miman-prj-example.fsh', open it to find instructions.


 