<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd
       http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- enable Spring @Component scan -->
	<context:component-scan base-package="${camelBasePackage}" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<!-- and then let Camel use those @Component scanned route builders -->
		<contextScan />
	</camelContext>

	<bean id="RestletComponent" class="org.restlet.Component" />

	<bean id="RestletComponentService" class="org.apache.camel.component.restlet.RestletComponent">
		<constructor-arg index="0">
			<ref bean="RestletComponent" />
		</constructor-arg>
	</bean>

</beans>
